body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: lightgreen;
    background-color: black;
    font-size: 30px;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    color: white;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
}

.verse{
    margin-bottom: 50px;
}

.verse-details{
    display: flex;
    flex-direction: column;
    color: lightgoldenrodyellow;
    align-items: flex-end;
    justify-content: center;
    margin-left: 70%;
}

.verse-details-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -55px;
}

.verse-details-div-content{
    padding: 5px;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: rebeccapurple;
}

@media only screen and (max-width: 768px) {
    .verse-details{
        margin-left: 20%;
    }
}